@use "variable" as *;

.contact {
  background-image: url('../images/maria-stewart-p4tj0g-_aMM-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contact-form {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.contact-form h2 {
  background: $navbar-bg-color;
  color: $white-color;
  padding: 30px 50px;
}

.contact-form .row {
  padding: 50px;
}



/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  background: $section-bg-color;
  border: 0;
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.custom-form button[type="submit"] {
  background: $primary-color;
  border-radius: 100px;
  color: $white-color;
  font-weight: $font-weight-bold;
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: $navbar-bg-color;
}